.auth-page-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: calc(100vh - 84px);

    .left-column {
        background-size: cover;
    }

    .right-column {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $offwhite;

        .login-fields {
            text-align: center;

            button {
                background-color: $teal;
            }

            button:hover {
                background-color: $dark-teal;
                color: white;
            }
         }
     }
}
