.blog-form-wrapper {
    @include base-grid;
    grid-template-columns: 1fr;
    grid-gap: 21px;
    
    @include input-element();
    input {
        margin-bottom: 0px;
    }

    .image-uploaders {
        @include base-grid();
        justify-content: center;
        grid-template-columns: 200px;
    }
}